body {
  color: #999;
  background-color: rgb(26, 24, 37);

  color: rgb(59, 221, 178);
  text-align: center;
  font-family: serif;
}

.welcome {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sign {
  font-style: italic;
}